# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build outputs
dist/
build/
out/

# Operating System Files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/

# Temporary files
tmp/
temp/